body{
    margin-top: 100px;
}

.navbar-right .navbar-form input, .navbar-right .navbar-form button {
  margin-right: 10px;
}

button a {
    color: white;
}
button a:hover{
    color: white;
    text-decoration: none;
}

#group-nav{
    width: 800px;
    margin-left: 50px;
}

.jumbotron {
    border-radius: 10px;
    margin: 30px;
    max-width: whatever;
}

.row {
    margin: 50px;
    font-size: 20px;
}

.row .content-container {
    margin-top: 40px;
}

footer {
    margin-left:30px;
    margin-right:30px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}