body{
    margin-top: 100px;
}
a {
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}
button a {
    color: white;
}

button a:hover{
    color: white;
    text-decoration: none;
}


.navbar-right .navbar-form input, .navbar-right .navbar-form button {
  margin-right: 10px;
}

.jumbotron {
    border-radius: 10px;
    margin: 30px;
}

.row {
    margin: 50px;
    font-size: 20px;
}

.row .content-container {
    margin-top: 40px;
}

footer {
    position:relative;
   left:0px;
   bottom:0px;
   width:100%;
    margin-left:30px;
    margin-right:30px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 130px;
    height: 130px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
}

.btn-circle a{
   display: block;
    line-height: 100px;
    height: 100%;
}

#jumbotron-signup-group-button{
   display: none;
}

#group-nav{
    width: 1000px;
    margin-left: 50px;
}

#group-container{
    min-height: 400px;
    max-width: 50%;
    margin-left: 310px;
}

