body{
    margin-top: 100px;
}

 input {
    margin-right: 10px;
}
button a {
    color: white;
}
button a:hover{
    color: white;
    text-decoration: none;
}

/*TODO: Krasiii help :D */
#group-nav{
    width: 800px;
    margin-left: 50px;
}

.jumbotron{
    padding: 50px;
}