<div class="alert alert-info">
    <br> Work in progress.. Please excuse us, the chat is comming soon.. :)<br/>
    Still some bugs chating on the server
    <br/>
    You can add issues to our GitHub repository:</b>
    <br/>

    <a style="background-color: #eb9316;" href="https://github.com/Team-Paradise" target="_blank"
       class="btn btn-outline btn-lg">
        <i class="fa fa-github"></i>
        Team-Paradise</a>
</div>
<div id="chat" class="container-fluid">
    <div class="row">
        <h2>Live Chat</h2>

        <div id="message-box">
        </div>
        <input class="form-control" id="message"/>
        <button id="submitBtn" class="btn btn-success">Send</button>
    </div>
</div>