<nav id="group-nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li class="dropdown">
                <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false">GroupName ? <span class="caret"></span></a>

            </li>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#feed">Feed <span class="sr-only">(current)</span></a></li>
                <li><a href="#meetings">Meetings</a></li>
                <li><a href="#todo-list">TODOs</a></li>
                <li><a href="#chat">Messages</a></li>
                <li><a href="#calendar">Calendar</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups
                        <span class="caret"></span></a>
                    <ul id="switch-group-bar" class="dropdown-menu" role="menu">

                        {{#each this.info}}
                        <li><a href="#group-nav">{{this.name}}</a></li>
                        {{/each}}

                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>

                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div id="wrapper">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#add-member">Add member</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">Team</a>
            </li>

            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="https://twitter.com/maridlcrmn">Follow me</a>
            </li>
        </ul>
    </nav>
</div>

