<nav id="group-nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups
                    <span class="caret"></span></a>
                <ul id="switch-group-bar" class="dropdown-menu" role="menu">
                    {{#each this.info}}
                    <li><a href="#group-nav">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#feed">Feed <span class="sr-only">(current)</span></a></li>
                <li><a href="#meetings">Meetings</a></li>
                <li><a href="#todo-list">TODOs</a></li>
                <li><a href="#chat">Messages</a></li>
                <li><a href="#calendar">Calendar</a></li>

            </ul>

        </div>
    </div>
</nav>
<div id="wrapper">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li>
                <a href="#soon">Home</a>
            </li>
            <li>
                <a href="#add-member">Add member</a>
            </li>
            <li>
                <a href="#soon">Events</a>
            </li>
            <li>
                <a href="#soon">Team</a>
            </li>

            <li>
                <a href="#soon">Services</a>
            </li>
            <li>
                <a href="#soon">Contact</a>
            </li>
            <li>
                {{#this.info}}
                <a href="https://facebook.com/{{this.name}}">Like Us</a>
                {{/this.info}}
            </li>
        </ul>
    </nav>
</div>

