<div class="jumbotron container-fluid">
    <h1>Teams Paradise</h1>

    <p>The application that provides for you and your group the tools you need to build your projects easier and faster
        than ever.</p>

    <p><a href="#sign-up-form" id="jumbotron-join-button" class="btn btn-primary btn-lg">Join now</a>

    <p>
        <button id="jumbotron-signup-group-button" class="btn btn-info btn-circle btn-xl">

            <a href="#sign-up-group" >
                + Group
            </a>
        </button>
    </p>

</div>
<div class="row">
    <div class="col-md-4 content-container">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <span>&nbsp;Create to-do lists and assign tasks</span>
    </div>
    <div class="col-md-4 content-container">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span>&nbsp;Manage events with a shared calendar</span>
    </div>
    <div class="col-md-4 content-container">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <span>&nbsp;Arrange meetings for your team</span>
    </div>
    <div class="col-md-4 content-container">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <span>&nbsp;Communicate with your team via the team chat system</span>
    </div>
    <div class="col-md-4 content-container">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        <span>&nbsp;Follow the latest changes of the working proccess</span>
    </div>
</div>