<div class="container" id="datetimepicker-container">
    <div class="demo-section k-header">
        <h3>Arrange meeting on:</h3>
        <input id="datetimepicker" style="width: 100%;" />
    </div>
    <div class="panel">
        <input type="text" id="meeting-information" placeholder="What's the meeting about" class="form-control"/>
        <button type="submit" id="btn-meeting-submit" class="btn btn-success">Submit meeting</button>
    </div>
    <div id="meeting-container">
    </div>
</div>