<form class="form-horizontal col-md-6 text-center">
    <fieldset>
        <legend>Sign-Up form</legend>
        <div class="form-group">
            <label for="input-group-name" class="col-md-6 control-label">Name
                <span class="asterisk">*</span>
            </label>

            <div class="col-md-6">
                <input type="text" class="form-control" id="input-group-name" placeholder="Username">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="input-group-password" class="col-md-6 control-label">Password
                <span class="asterisk">*</span>
            </label>

            <div class="col-md-6">
                <input type="password" class="form-control" id="input-group-password" placeholder="Password">

            </div>
        </div>
        <div class="form-group">
            <label for="confirm-group-password" class="col-md-6 control-label">Confirm password
                <span class="asterisk">*</span>
            </label>

            <div class="col-md-6">
                <input type="password" class="form-control" id="confirm-group-password" placeholder="Password">

            </div>
        </div>
        <hr>


        <br>

        <div class="form-group">
            <label for="input-group-desc" class="col-md-6 control-label">Additional information</label>

            <div class="col-md-6">
                <textarea class="form-control" rows="5" id="input-group-desc"></textarea>
                <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
            </div>
        </div>
        <div class="form-group">
            <label for="input-git-link" class="col-md-6 control-label">Link to your project Git repo

            </label>

            <div class="col-md-6">
                <input type="text" class="form-control" id="input-git-link" placeholder="Git link">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
                <button id="group-signup-submit" class="btn btn-primary">Create Group</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

